body {
    background: #999;
    height: 100vh;
}

.newsletter {
    background: #FFF;
    padding: 20px;
    color: #333;
    position: fixed;
    left: 0%;
    top: 20%;
    transition: 2s cubic-bezier(.41, -0.4, .19, 1.4) all;
    transform: translate3d(-200%, 0, 0) scale(1.5, 0.8);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    h2 {
        margin-top: 0;
    }
}

.newsletter>* {
    opacity: 0;
    transition: 0.8s ease all 0.6s;
}

.newsletter.open {
    left: 0%;
    transform: translate3d(50%, 0, 0) scale(1, 1);
}

.newsletter.open>* {
    opacity: 1;
}